*{
    padding: 0;
    margin: 0;
    font-family: 微软雅黑;
}

.main{
    width: 500px;
    margin: 0 auto;
}
.main .winner{
    width: inherit;
    height: 50px;
    line-height: 50px;
    list-style: none;
}