*{
    padding: 0;
    margin: 0;
    font-family: 微软雅黑;
}

.main{
    width: 500px;
    margin: 0 auto;
}
.main .winner{
    width: 500px;
    height: 50px;
    margin: 5px 0;
}
.winner_name{
    float: left;
    width: 310px;
    height: 45px;
    font-size: 30px;
    text-align:center;
    color: red;
}
.main .redouble{
    margin-top: 50px;
    width: 500px;
}
.redouble_title_label{
    width: 60px;
    height: 40px;
    font-size: 20px;
    margin-left: 215px;
}
.public_gang_title_title_label{
    width: 60px;
    height: 40px;
    font-size: 20px;
    margin-left: 225px;
}
.private_gang_title_title_label{
    width: 60px;
    height: 40px;
    font-size: 20px;
    margin-left: 225px;
}
.redouble_title_div{
    width: 500px;
    height: 30px;
    margin-bottom: 10px;
}
.public_gang_title_div{
    width: 500px;
    height: 30px;
    margin-bottom: 10px;
}
.private_gang_title_div{
    width: 500px;
    height: 30px;
    margin-bottom: 10px;
}
.redouble_input{
    float: left;
    width: 310px;
    height: 45px;
    font-size: 20px;
    text-align:center;
    color: blue;
    margin-bottom: 5px
}
.redouble_num{
    float: left;
    width: 150px;
    height: 45px;
    font-size: 30px;
    text-align:center;
    color: red;
    margin-left: 5px;
    margin-right: 5px;
}
.private_gang_num{
    float: left;
    width: 150px;
    height: 45px;
    font-size: 30px;
    text-align:center;
    color: red;
    margin-left: 5px;
    margin-right: 5px;
}
.redouble_content_div{
    width: 500px ;
    height: 50px ;
    margin-bottom: 5px
}
.private_gang_content_div{
    width: 500px ;
    height: 50px ;
    margin-bottom: 5px
}
.public_gang_content_div{
    width: 500px ;
    height: 50px ;
    margin-bottom: 5px
}
.redouble_content_name_div{
    width: 90px;
    height: 50px;
    float: left
}
.private_gang_winner_name_div{
     width: 90px;
     height: 50px;
     float: left
 }
.public_gang_winner_name_div{
    width: 90px;
    height: 50px;
    float: left;
    margin-left: 105px;
    margin-right: 20px;
}
.public_gang_winner_name_select{
    height: 50px;
    width: 75px
}
.public_gang_loser_name_select{
    height: 50px;
    width: 75px
}
.public_gang_loser_name_div{
    width: 90px;
    height: 50px;
    float: left;
    margin-left: 20px;
}
.redouble_content_name_label{
    float: left;
    font-size: 20px;
    padding-top: 5px;
    padding-left: 10px
}
.private_gang_winner_name_label{
    float: left;
    font-size: 20px;
    padding-top: 5px;
    padding-left: 10px
}
.main .public_gang{
    margin-top: 50px;
    width: 500px;
}
.main .private_gang{
    margin-top: 50px;
    width: 500px;
}