<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<title>麻将记账系统登录</title>
<link th:href="@{/css/login.css}" href="../static/css/login.css" rel="stylesheet" type="text/css"/>
<script src="../static/lib/jquery/jquery-3.2.1.min.js" th:src="@{/lib/jquery/jquery-3.2.1.min.js}"></script>
    <script src="../static/lib/jquery/login.js" th:src="@{/lib/jquery/login.js}"></script>
</head>
<body >
<div class="htmleaf-container">
    <div class="wrapper">
        <div id = "loginFrame" class="container">
                  </div>
    </div>
</div>

<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';color:#000000">
    <h1>麻将记账系统</h1>
</div>

</body>
</html>