<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>chat room websocket</title>
    <link rel="stylesheet" href="../static/lib/layui/css/layui.css" th:href="@{/lib/layui/css/layui.css}" media="all">
    <link rel="stylesheet" href="../static/css/admin/admin.css" th:href="@{/css/admin/admin.css}" media="all">
    <link rel="stylesheet" th:href="@{/lib/layui/css/modules/layer/default/layer.css}" media="all">
    <link rel="stylesheet" href="../static/css/table.css" type="text/css" th:href="@{/css/table.css}">
    <script src="../static/js/table.js" th:src="@{/js/table.js}"></script>
    <script src="../static/lib/layui/layui.js" th:src="@{/lib/layui/layui.js}"></script>
    <script src="../static/lib/jquery/jquery-3.2.1.min.js" th:src="@{/lib/jquery/jquery-3.2.1.min.js}"></script>
</head>
<body>

<div class="main">

    <div class="winner">
        <div style="width: 80px;height: 50px;float: left">
            <label style="float: left;font-size: 30px;padding-top: 5px;padding-left: 10px">赢家</label>
        </div>
        <input type="text" id="winner" class="winner_name" readonly="readonly"/>
        <button type="button" class="layui-btn layui-btn-sm layui-btn-primary"
                style="height: 50px;width: 100px;float: right"
                onclick="onWinnerChange()">
            <i class="layui-icon">&#xe602;</i>
        </button>
    </div>

    <div class="redouble">
        <div class="redouble_title_div">
            <label class="redouble_title_label">开杠数</label>
        </div>
        <div class="redouble_content_div">
            <div class="redouble_content_name_div">
                <label class="redouble_content_name_label"></label>
            </div>
            <button type="button" class="layui-btn layui-btn-sm layui-btn-primary"
                    style="height: 50px;width: 75px;float: left"
                    onclick="onSub(this)">
                <i class="layui-icon">&#xe603;</i>
            </button>
            <input type="text" id="redouble_num0" class="redouble_num" readonly="readonly" value="0"/>
            <button type="button" class="layui-btn layui-btn-sm layui-btn-primary"
                    style="height: 50px;width: 75px;float: left"
                    onclick="onAdd(this)">
                <i class="layui-icon">&#xe602;</i>
            </button>
        </div>
        <div class="redouble_content_div">
            <div class="redouble_content_name_div">
                <label class="redouble_content_name_label"></label>
            </div>
            <button type="button" class="layui-btn layui-btn-sm layui-btn-primary"
                    style="height: 50px;width: 75px;float: left"
                    onclick="onSub(this)">
                <i class="layui-icon">&#xe603;</i>
            </button>
            <input type="text" id="redouble_num1" class="redouble_num" readonly="readonly" value="0"/>
            <button type="button" class="layui-btn layui-btn-sm layui-btn-primary"
                    style="height: 50px;width: 75px;float: left"
                    onclick="onAdd(this)">
                <i class="layui-icon">&#xe602;</i>
            </button>
        </div>
        <div class="redouble_content_div">
            <div class="redouble_content_name_div">
                <label class="redouble_content_name_label"></label>
            </div>
            <button type="button" class="layui-btn layui-btn-sm layui-btn-primary"
                    style="height: 50px;width: 75px;float: left"
                    onclick="onSub(this)">
                <i class="layui-icon">&#xe603;</i>
            </button>
            <input type="text" id="redouble_num2" class="redouble_num" readonly="readonly" value="0"/>
            <button type="button" class="layui-btn layui-btn-sm layui-btn-primary"
                    style="height: 50px;width: 75px;float: left"
                    onclick="onAdd(this)">
                <i class="layui-icon">&#xe602;</i>
            </button>
        </div>
        <div class="redouble_content_div">
        <div class="redouble_content_name_div">
            <label class="redouble_content_name_label"></label>
        </div>
        <button type="button" class="layui-btn layui-btn-sm layui-btn-primary"
                style="height: 50px;width: 75px;float: left"
                onclick="onSub(this)">
            <i class="layui-icon">&#xe603;</i>
        </button>
        <input type="text" id="redouble_num3" class="redouble_num" readonly="readonly" value="0"/>
        <button type="button" class="layui-btn layui-btn-sm layui-btn-primary"
                style="height: 50px;width: 75px;float: left"
                onclick="onAdd(this)">
            <i class="layui-icon">&#xe602;</i>
        </button>
    </div>
    </div>

    <div class="private_gang">
        <div class="private_gang_title_div">
            <label class="private_gang_title_title_label">暗杠</label>
        </div>

        <div class="private_gang_content_div">
            <div class="private_gang_winner_name_div">
                <label class="private_gang_winner_name_label"></label>
            </div>
            <button type="button" class="layui-btn layui-btn-sm layui-btn-primary"
                    style="height: 50px;width: 75px;float: left"
                    onclick="onSub(this)">
                <i class="layui-icon">&#xe603;</i>
            </button>
            <input type="text" class="private_gang_num" readonly="readonly" value="0"/>
            <button type="button" class="layui-btn layui-btn-sm layui-btn-primary"
                    style="height: 50px;width: 75px;float: left"
                    onclick="onAdd(this)">
                <i class="layui-icon">&#xe602;</i>
            </button>
        </div>
        <div class="private_gang_content_div">
            <div class="private_gang_winner_name_div">
                <label class="private_gang_winner_name_label"></label>
            </div>
            <button type="button" class="layui-btn layui-btn-sm layui-btn-primary"
                    style="height: 50px;width: 75px;float: left"
                    onclick="onSub(this)">
                <i class="layui-icon">&#xe603;</i>
            </button>
            <input type="text" class="private_gang_num" readonly="readonly" value="0"/>
            <button type="button" class="layui-btn layui-btn-sm layui-btn-primary"
                    style="height: 50px;width: 75px;float: left"
                    onclick="onAdd(this)">
                <i class="layui-icon">&#xe602;</i>
            </button>
        </div>
        <div class="private_gang_content_div">
            <div class="private_gang_winner_name_div">
                <label class="private_gang_winner_name_label"></label>
            </div>
            <button type="button" class="layui-btn layui-btn-sm layui-btn-primary"
                    style="height: 50px;width: 75px;float: left"
                    onclick="onSub(this)">
                <i class="layui-icon">&#xe603;</i>
            </button>
            <input type="text" class="private_gang_num" readonly="readonly" value="0"/>
            <button type="button" class="layui-btn layui-btn-sm layui-btn-primary"
                    style="height: 50px;width: 75px;float: left"
                    onclick="onAdd(this)">
                <i class="layui-icon">&#xe602;</i>
            </button>
        </div>
        <div class="private_gang_content_div">
            <div class="private_gang_winner_name_div">
                <label class="private_gang_winner_name_label"></label>
            </div>
            <button type="button" class="layui-btn layui-btn-sm layui-btn-primary"
                    style="height: 50px;width: 75px;float: left"
                    onclick="onSub(this)">
                <i class="layui-icon">&#xe603;</i>
            </button>
            <input type="text" class="private_gang_num" readonly="readonly" value="0"/>
            <button type="button" class="layui-btn layui-btn-sm layui-btn-primary"
                    style="height: 50px;width: 75px;float: left"
                    onclick="onAdd(this)">
                <i class="layui-icon">&#xe602;</i>
            </button>
        </div>
    </div>

    <div class="public_gang">
        <div class="public_gang_title_div">
            <label class="public_gang_title_title_label">明杠</label>
        </div>

        <div id="public_gang_contents">
            <div class="public_gang_content_div">
                <div class="public_gang_winner_name_div">
                    <select class="public_gang_winner_name_select"></select>
                </div>
                <div style="width: 80px;height: 50px;float: left">
                    <label style="font-size: 30px">杠了</label>
                </div>
                <div class="public_gang_loser_name_div">
                    <select class="public_gang_loser_name_select" style="height: 50px;width: 75px"></select>
                </div>
            </div>
        </div>
        <div id="add" style="height: 50px; width: 500px">
            <button type="button" class="layui-btn"
                    style="margin-left: 200px" onclick="onPublicGangAdd()">
                <i class="layui-icon">&#xe608;</i> 添加
            </button>
        </div>
    </div>

    <div style="margin-top: 50px ;margin-bottom: 100px ;width: 250px">
        <button style="margin-left: 115px;width: 250px"
                class="layui-btn layui-btn-radius"
                id="creat" onclick="commit()">
            提交
        </button>
    </div>

</div>

</body>

</html>